.content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.title-content{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}

img{
    width: 10rem;
    height: 14rem;
    border-radius: 5px;
}

.card{
    width: 10rem;
    height: 17rem;
}

.card p{
    margin-top: 0px;
}