nav{
    width: 10rem;
}

ul{
    padding: 0px;
}
li{
    padding: 2px;
    border: 1px solid #f6f6f6;
    color: #2e51a2;
    text-align: center;
    list-style-type: none;
}
a{
    text-decoration: none;
}

li:hover{
    background-color: #2e51a2;
    color: #fff;
}

.titleSeason{
    padding: 2px;
    background-color: #2e51a2;
    color: #fff;
    text-align: center;
    margin-block-end:0px;
    cursor: pointer;
}